/target
/lib
/classes
/checkouts
/resources/public/js/dev.js
/resources/public/js/prod.js
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

# emacs
\#*#
\.\#*
out/
resources/public/js/
